
Leikurinn/Library/CurrentMaximizeLayout.dwlt
Leikurinn/Library/shadercompiler-UnityShaderCompiler0.log
Leikurinn/Library/StateCache/Hierarchy/b53391-mainStage.json
Leikurinn/Library/shadercompiler-UnityShaderCompiler0.log
Leikurinn/Library/StateCache/Hierarchy/b53391-mainStage.json
Leikurinn/Vestur/Library/CurrentLayout.dwlt
Leikurinn/Vestur/Library/shadercompiler-UnityShaderCompiler0.log
Leikurinn/Suður/Temp/UnityLockfile
Leikurinn/Suður/Library/CurrentLayout.dwlt
Leikurinn/Suður/Library/EditorInstance.json
Leikurinn/Suður/Library/LastSceneManagerSetup.txt
Leikurinn/Norður/Norðue/Library/CrashedAssetImports.txt
Leikurinn/Norður/Norðue/Library/CurrentLayout.dwlt
Leikurinn/Norður/Norðue/Library/EditorInstance.json
Leikurinn/Norður/Norðue/Library/StateCache/SceneView/5bb924-mainStage.json
Leikurinn/Norður/Norðue/Temp/UnityLockfile
